<form [@dialog] *ngIf="open" (ngSubmit)='onSubmit()' #bandForm='ngForm'>
  <label>Bandname</label>
  <input type='text' [(ngModel)]='band.bandName' name='bandName'/>
  <label>Foundationdate</label>
  <input type='date' [(ngModel)]='band.bandFoundDate' name='bandFoundDate'/>
  <label>Bandpicture</label>
  <input type='text' [(ngModel)]='band.bandPicture' name='bandPicture'/>
  <label>Band Description</label>
  <textarea [(ngModel)]='band.bandDescription' name='bandDescription'></textarea>
  <label>Band Url</label>
  <input type='url' [(ngModel)]='band.bandUrl' name='bandUrl'/>
  <input class="button button1" type='submit' value="{{formButtonText}}"/>
</form>
<button class="button button4" (click)="changeFlag($event)" *ngIf="open">Cancel</button>
<button class="button button2" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'ADD'">
  <fa-icon [icon]="faPlus">&nbsp;</fa-icon>
</button>
<button class="button button1" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'EDIT'">
  <fa-icon [icon]="faPencilAlt">&nbsp;</fa-icon>
</button>
