<form [@dialog] *ngIf="open" (ngSubmit)='onSubmit()' #artistForm='ngForm'>
  <label>Artistname</label>
  <input type='text' [(ngModel)]='artist.artistName' name='artistName'/>
  <select [(ngModel)]='artist.artistSkills' name='artistSkills' multiple>
    <option *ngFor="let typ of typList" [value]='typ'>{{typ.typBeschreibung}}</option>
  </select>
  <input class="button button1" type='submit' value="{{formButtonText}}"/>
</form>
<button class="button button4" (click)="changeFlag($event)" *ngIf="open">Cancel</button>
<button class="button button2" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'ADD'">
  <fa-icon [icon]="faPlus">&nbsp;</fa-icon>
</button>
<button class="button button1" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'EDIT'">
  <fa-icon  [icon]="faPencilAlt">&nbsp;</fa-icon>
</button>
