<form [@dialog] *ngIf="open" (ngSubmit)='onSubmit()' #artistForm='ngForm'>
  <label>Artistname</label>
  <input type='text' [(ngModel)]='artist.artistName' name='artistName'/>
  <select [(ngModel)]='artist.artistSkills' name='artistSkills' multiple>
    <option *ngFor="let typ of typList" [value]='typ'>{{typ.typBeschreibung}}</option>
  </select>
  <input type='submit' value="{{formButtonText}}" />
</form>
<button (click)="changeFlag($event)" *ngIf="open">Cancel</button>
<button (click)="changeFlag($event)" *ngIf="!open">
  <fa-icon *ngIf="formButtonText === 'ADD'" [icon]="faPlus">&nbsp;</fa-icon>
  <fa-icon *ngIf="formButtonText === 'EDIT'" [icon]="faPencilAlt">&nbsp;</fa-icon>
</button>
