<form [@dialog] *ngIf="open" (ngSubmit)='onSubmit()' #typForm='ngForm'>
  <label>Type number</label>
  <input type='number' [(ngModel)]='typ.typNummer' name='typNummer' min='0'/>
  <label>Type description</label>
  <input type='text' [(ngModel)]='typ.typBeschreibung' name='typBeschreibung'/>
  <input class="button button1" type='submit' value="{{formButtonText}}"/>
</form>
<button class="button button4" (click)="changeFlag($event)" *ngIf="open">Cancel</button>
<button class="button button2" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'ADD'">
  <fa-icon [icon]="faPlus">&nbsp;</fa-icon>
</button>
<button class="button button1" (click)="changeFlag($event)" *ngIf="!open && formButtonText === 'EDIT'">
  <fa-icon [icon]="faPencilAlt">&nbsp;</fa-icon>
</button>
